.icon-limbo-vimeo-alt svg path {
  fill: #1ab7ea;
}
.limbo-vimeo-video {
  position: relative;
}
.limbo-vimeo-video.loading > div {
  opacity: 0.5;
}
.limbo-vimeo-video .alert {
  margin-bottom: 10px;
}
.limbo-vimeo-video input {
  width: 100%;
  flex: 1;
}
.limbo-vimeo-video textarea {
  width: 100%;
  flex: 1;
  min-height: 110px;
  resize: vertical;
}
.limbo-vimeo-video-input button {
  margin-top: 2px;
  border: 0;
  background: none;
  padding: 0;
  font-size: 12px;
}
.limbo-vimeo-video-input button:hover {
  text-decoration: underline;
}
.limbo-vimeo-video-input button + button {
  margin-left: 10px;
}
.limbo-vimeo-video-input h5 {
  margin: 0 0 3px 0;
}
.limbo-vimeo-video-details {
  margin-top: 10px;
}
.limbo-vimeo-video-details > div {
  display: flex;
  border: 1px solid #e9e9eb;
  border-radius: 3px;
  padding: 12px 15px;
  max-width: 800px;
  box-sizing: border-box;
}
.limbo-vimeo-video-details h5 {
  margin: 15px 0 3px 0;
}
.limbo-vimeo-video-details img {
  margin-right: 10px;
}
.limbo-vimeo-video-details table {
  background: none;
}
.limbo-vimeo-video-details table th {
  text-align: left;
  padding-right: 25px;
}
.limbo-vimeo-video-details table th,
.limbo-vimeo-video-details table td {
  font-size: 14px;
  vertical-align: top;
}
.limbo-vimeo-video-details table tr + tr th,
.limbo-vimeo-video-details table tr + tr td {
  padding-top: 4px;
}
.limbo-vimeo-video pre {
  display: none;
}