<div class="limbo-vimeo-color" ng-controller="Limbo.Umbraco.Vimeo.Color as vm">
    <div>
        <div class="limbo-vimeo-button-list">
            <button type="button" ng-click="vm.select('inherit')" ng-class="{'--active': model.value === 'inherit'}">Inherit</button>
            <button type="button" ng-click="vm.select('custom')" ng-class="{'--active': model.value.length === 6}">Custom</button>
            <button type="button" ng-click="vm.select('disabled')" ng-class="{'--active': model.value === 'disabled'}">Disabled</button>
        </div>
        <div class="limbo-vimeo-color-picker" ng-if="model.value.length === 6">
            <span>Select color:</span>
            <umb-color-picker ng-model="model.value" options="vm.options" on-change="vm.change(color)"></umb-color-picker>
        </div>
    </div>
</div>